.home-hero {
  background: linear-gradient(to bottom, rgba(0,0,0,0.6) 60%, rgba(0,0,0,1) 100%),  url('../images/home-hero.webp'); 
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-why-us {
  background: linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,.5) 100%),  url('../images/home-why-us-bg.webp');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bvf-hero{
  background: linear-gradient(to bottom, rgba(0,0,0,0.6) 80%, rgba(0,0,0,1) 100%),  url('../images/bvf-hero-bg.webp') no-repeat center center;
  background-size: cover;
}
.bbf-hero {
    background: linear-gradient(to bottom, rgba(0,0,0,0.6) 80%, rgba(0,0,0,1) 100%), url('../images/Banner-BharatBhoomiFund.jpg') no-repeat center center;
    background-size: cover;
}

.about-hero{
  background:  linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,.5)),  url('../images/about-hero-bg.webp') no-repeat center center;
  background-size: cover;
}

.contact-hero{
  background:  linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,.6) 100%),  url('../images/contact-hero-bg.webp') no-repeat center center;
  background-size: cover;
}

.media-hero{
  background:  linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,.6) 100%),  url('../images/media-hero-bg.webp') no-repeat center center;
  background-size: cover;
}

.investment-hero{
  background:  linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,.5)),  url('../images/investment-hero-bg.webp') no-repeat center center;
  background-size: cover;
}

.blog-hero{
  background: url('../images/blog-hero-bg-new.jpg') no-repeat center center;
  background-size: cover;
}

.responsibilities-hero {
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,.5)), url('../images/responsibility-page-background-image.webp') no-repeat center center;
    background-size: cover;
}


.dropdown-icon-svg > path {
  fill: #D8A131;
}

.dropdown-icon-svg:hover > path {
  fill: #1e1e1e;
}

@media only screen and (max-width: 600px) {
    .blog-hero {
        background: url('../images/blog-hero-bg-new.jpg') no-repeat center center;
        background-size: cover;
    }

    .media-hero {
        background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,.6) 100%), url('../images/Media_mobile.webp') no-repeat center center;
        background-size: cover;
    }
}