
.partner-hero {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('../images/partner-bg.webp');
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.landing-page-hero {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('../images/distributor-lp-banner-1.jpg');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

.mfdidi-hero {
    background: url('../images/Mfdidi/banner.png');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}
.becomemfdidi-hero {
    background: url('../images/Mfdidi/banner2.png');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}
.madhumadamfdidi-hero {
    background: url('../images/Mfdidi/banner3.png');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}